.signUp
{
  padding: 0 2em;
}
input[type=checkbox]{
  -ms-transform: scale(1.7); /* IE */
  -moz-transform: scale(1.7); /* FF */
  -webkit-transform: scale(1.7); /* Safari and Chrome */
  -o-transform: scale(1.7); /* Opera */
  transform: scale(1.7);
  padding: 8px;
  margin: 20px 0px 18px 7px;

}
.show
{
  margin-left: 20px;

}
.login{
  margin-top: 13.5vh !important;
  margin-bottom: 10vh !important;
}

