<div class="container py-5">
  <div class="row py-5">
    <div *ngFor="let order of orders" class="order col-md-2 px-3 shadow fa-border">
      <div class="my-2 position-relative">
        <h3 class="py-2 h6">ID: {{order.orderNumber}}</h3>
        <h3 class="py-2 h6">Order Date: {{order.orderDate}}</h3>
        <h3 class="py-2 h6">Required Date: {{order.requiredDate}}</h3>
        <h3 class="py-2 h6">ShippedDate: {{order.shippedDate}}</h3>
        <h3 class="py-2 h6">Status: {{order.status}}</h3>
        <h3 class="py-2 h6">Comments: {{order.comments}}</h3>
        <h3 class="py-2 h6">CustomerNumber: {{order.customerNumber}}</h3>
      </div>
    </div>
  </div>
</div>

