
<div class="container py-5">
  <div class="row py-5">
    <div *ngFor="let customer of customers" class="customer col-md-2 px-3 shadow fa-border">
      <div class="my-2 position-relative">
        <h3 class="py-2 h6">ID: {{customer.customerNumber}}</h3>
        <h3 class="py-2 h6">Name: {{customer.customerName}}</h3>
        <h3 class="py-2 h6">FirstName: {{customer.contactFirstName}}</h3>
        <h3 class="py-2 h6">LastName: {{customer.contactLastName}}</h3>
        <h3 class="py-2 h6">Phone: {{customer.phone}}</h3>
        <h3 class="py-2 h6">AddressLine1: {{customer.addressLine1}}</h3>
        <h3 class="py-2 h6">AddressLine2: {{customer.addressLine2}}</h3>
        <h3 class="py-2 h6">City: {{customer.city}}</h3>
        <h3 class="py-2 h6">State: {{customer.state}}</h3>
        <h3 class="py-2 h6">PostalCode: {{customer.postalCode}}</h3>
        <h3 class="py-2 h6">Country: {{customer.country}}</h3>
        <h3 class="py-2 h6">CreditLimit: {{customer.phone}}</h3>
      </div>
    </div>
  </div>
</div>

